In [1]:
import pandas as pd
import numpy as np
import math
import time
import sys
from IPython.display import display 
import csv
from astropy import units as u
from astropy.coordinates import Angle

pd.set_option("display.max_rows", None, "display.max_columns", None)

ctf = pd.read_csv ('GeminiTargetsTake1-Copy1.csv') 

type(ctf)

display(ctf)
#declaring global variables to elminate certain bugs
divider="|"
stringSearchTerm1 = " "
stringSearchTerm2 = " "
stringSearchTerm3 = " "
startProgram = "Yes"


    
print ("\nImport Complete\nSet Up Complete\n")
print ("Hello,\n \nWelcome to the Coarse Table Full Filtering Interface.\nIt contains the names, coordinates (right ascension and declination), estimated classification, and apparent magnitude in the 'G' bandpass (which is short for Gaia) for ~2550 stars with no previously published classification that was run through our fancy schmancy machine learning classifier.\n")

print ("You will be prompted to filter by category, simply enter the terms or range you wish to search for when prompted and the table will update to only display entries that contain that search term or range\n ")

startProgram = (input("Would you like to continue?\nYes    No\nAnswer: "))
if startProgram == "No":
    sys.exit ("All right, maybe next time :(")
    quit()

                        Name          RA        Dec        Class       Gmag
0   WISE J045451.56-670203.9   73.714861 -67.034497           EM  14.046777
1   WISE J045550.56-695807.0   73.960641 -69.968616           EM  13.954285
2   WISE J045719.13-673047.0   74.329243 -67.513090           EM  14.631564
3   WISE J050128.62-701120.2   75.369061 -70.188978           EM  13.878529
4   WISE J051038.76-642117.8   77.661495 -64.354943           EM  14.231917
5   WISE J051852.07-625750.2   79.716991 -62.963962  Contaminant  14.807224
6   WISE J052915.30-671259.8   82.313739 -67.216612           EM  13.706032
7   WISE J053001.84-664614.4   82.507758 -66.770707           EM  13.860653
8   WISE J053323.01-673059.8   83.345961 -67.516699           EM  13.637502
9   WISE J053424.65-662557.5   83.602704 -66.432664           EM  13.660733
10   2MASS J05362506-7012222   84.104532 -70.206180           EM  16.012371
11  WISE J110247.58-610632.9  165.698217 -61.109151           EM  11.111307
12              CPD-60  2585  167.555988 -60.775415           EM   9.750662

Import Complete
Set Up Complete

Hello,

Welcome to the Coarse Table Full Filtering Interface.
It contains the names, coordinates (right ascension and declination), estimated classification, and apparent magnitude in the 'G' bandpass (which is short for Gaia) for ~2550 stars with no previously published classification that was run through our fancy schmancy machine learning classifier.

You will be prompted to filter by category, simply enter the terms or range you wish to search for when prompted and the table will update to only display entries that contain that search term or range

Would you like to continue?
Yes    No
Answer: Yes

In [2]:
def filterMultiString (catStringInput,ctfStringInput):
    global categoryIntro
    global ctfNewStr
    print (categoryIntro)
    time.sleep(0.20)
    numOfTermsInput = (input("Choose from one of the options below. \nIf none enter 1 and you will have an option to include for all entries in this category.\n 1 2 3\nInput: "))
    numOfTerms = float(numOfTermsInput)
    global ctfNewStr

    print ("Enter the first desired search term for the",catStringInput,"category.")
    stringSearchTerm1 = (input("If you DO NOT want to filter by this category enter 'ALL'\nInput:"))
    
    if stringSearchTerm1 == "ALL":
        numOfTerms = 0
        ctfNewStr = ctfStringInput
        print ("Not filtering values based on ", catStringInput)
        time.sleep(0.20)
        
    if numOfTerms == 4 and stringSearchTerm1 != "ALL":
        print (" 4")
        stringSearchTerm2 = (input("Enter the second desired search term for the under this  category."))
        stringSearchTerm3 = (input("Enter the third desired search term for the under this category"))
        stringSearchTerm4 = (input("Enter the fourth desired search term for the under this category"))
        print ("Filtering 4 terms:\n",stringSearchTerm1,"\n",stringSearchTerm2,"\n",stringSearchTerm3,"\n",searchTerm4)
        stringSearchTerm = stringSearchTerm1+divider+stringSearchTerm2+divider+stringSearchTerm3
        ctfNewStr+divider+stringSearchTerm4 
        ctfNewStr = ctfStringInput.loc[ctfStringInput[catStringInput].str.contains(stringSearchTerm)]
        
        
    if numOfTerms == 3 and stringSearchTerm1 != "ALL":
        print ("3")
        stringSearchTerm2 = (input("Enter the second desired search term for the under this  category."))
        stringSearchTerm3 = (input("Enter the third desired search term for the under this category"))
        print ("Filtering 3 terms:\n",stringSearchTerm1,"\n",stringSearchTerm2,"\n",stringSearchTerm3)
        stringSearchTerm = stringSearchTerm1+divider+stringSearchTerm2+divider+stringSearchTerm3
        ctfNewStr = ctfStringInput.loc[ctfStringInput[catStringInput].str.contains(stringSearchTerm)]
        
        
        
    if numOfTerms == 2 and stringSearchTerm1 != "ALL":
        stringSearchTerm2 = (input("Enter the second desired search term for the under this category."))
        print ("Filtering 2 terms:\n",stringSearchTerm1,"\n",stringSearchTerm2)
        stringSearchTerm = stringSearchTerm1+divider+stringSearchTerm2
        
        ctfNewStr = ctfStringInput.loc[ctfStringInput[catStringInput].str.contains(stringSearchTerm)]
        
    if numOfTerms == 1 and stringSearchTerm1 != "ALL":
        print ("1")
        stringSearchTerm = stringSearchTerm1
        ctfNewStr = ctfStringInput.loc[ctfStringInput[catStringInput].str.contains(stringSearchTerm)]
   
    return ctfNewStr

In [3]:
def bunny():
    print(""" Have a bunny             
                      (\___/)
                      (=^.^=)
                      (")_(")   """)

In [4]:
def filterFloatRange(catFloatInput,ctfFloatInput):
    global ctfNewFloat
    print (categoryIntro)
    exitToken = False 
    time.sleep(0.50)
    minFloatValInput = (input("Enter the lower bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':\n"))
    maxFloatValInput = (input("Enter the upper bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':\n"))
    
    placeholderMax = 1000**10
    placeholderMin = -1000**10
    
    if minFloatValInput == "None" or minFloatValInput == "none":
        minFloatValInput = "NONE"
        
    if maxFloatValInput == "None" or maxFloatValInput == "none":
        maxFloatValInput = "NONE"
        
    
    if minFloatValInput == "NONE" and maxFloatValInput == "NONE":
        exitToken = True
        ctfNewFloat = ctfFloatInput
        printInputs = False
        print ("Not filtering values based on", catFloatInput)
        
    if minFloatValInput == "NONE" and maxFloatValInput != "NONE":
        minFloatVal = placeholderMin
        maxFloatVal = float(maxFloatValInput)
        printInputs = False
        print ("Filering for all values in ",catFloatInput," that are less than",maxFloatVal)
        
        
    if minFloatValInput != "NONE" and maxFloatValInput == "NONE":
        minFloatVal = float(minFloatValInput)
        maxFloatVal = placeholderMax
        printInputs = False
        print ("Filering for all values in ",catFloatInput," that are greater than ",minFloatVal)
        
    if minFloatValInput != "NONE" and maxFloatValInput != "NONE":
        minFloatVal = float(minFloatValInput)
        maxFloatVal = float(maxFloatValInput)
        printInputs = True
        print ("Filering for all values in ",catFloatInput," that are greater than ",minFloatVal," and less than",maxFloatVal)
    
        
    if catFloatInput == "RA" and exitToken == False:
        placeholderMin = ctfFloatInput.RA.min()
        placeholderMax = ctfFloatInput.RA.max()
        ctfFloatMin = (ctfFloatInput.RA >= minFloatVal)
        targetStarsIndex = [*filter(ctfFloatMin.get, ctfFloatMin.index)]
        ctfFloatProcessed = ctfFloatInput.loc[targetStarsIndex]
        ctfFloat = (ctfFloatProcessed.RA <= maxFloatVal)
        
    if catFloatInput == "Dec" and exitToken == False:
        placeholderMin = ctfFloatInput.Dec.min()
        placeholderMax = ctfFloatInput.Dec.max()
        ctfFloatMin = (ctfFloatInput.Dec >= minFloatVal)
        targetStarsIndex = [*filter(ctfFloatMin.get, ctfFloatMin.index)]
        ctfFloatProcessed = ctfFloatInput.loc[targetStarsIndex]
        ctfFloat = (ctfFloatProcessed.Dec <= maxFloatVal)
        
        
    if catFloatInput == "Gmag" and exitToken == False:
        placeholderMin = ctfFloatInput.Gmag.min()
        placeholderMax = ctfFloatInput.Gmag.max()
        ctfFloatMin = (ctfFloatInput.Gmag >= minFloatVal)
        targetStarsIndex = [*filter(ctfFloatMin.get, ctfFloatMin.index)]
        ctfFloatProcessed = ctfFloatInput.loc[targetStarsIndex]
        ctfFloat = (ctfFloatProcessed.Gmag <= maxFloatVal)
        
    if exitToken == False:
        targetStarsIndex = [*filter(ctfFloat.get, ctfFloat.index)]
        ctfNewFloat = ctfFloatInput.loc[targetStarsIndex]
    return ctfNewFloat

In [5]:
def convertedConvertor(convertedTargets):
    def Convert_To_DMS(valueOfDec):
        valueOfDec=Angle(valueOfDec, u.degree)
        valueOfDec=valueOfDec.to_string(unit=u.degree,sep=':')
        return valueOfDec

    def Convert_To_HMS(valueOfRA):
        valueOfRA=Angle(valueOfRA, u.degree)
        valueOfRA=valueOfRA.to_string(unit=u.hour, sep=':')
        return valueOfRA

    convertedTargets2=convertedTargets

    convertedTargets2.Dec = Convert_To_DMS(convertedTargets.Dec)



    convertedTargets3=convertedTargets2

    convertedTargets3.RA = Convert_To_HMS(convertedTargets.RA)

    global convertedTargetsFinal
    
    convertedTargetsFinal = convertedTargets3

    display(convertedTargetsFinal)
    return convertedTargetsFinal

In [6]:
def TUI_Convertor(TUI_Targets):
    def Convert_To_DMS(valueOfDec):
        valueOfDec=Angle(valueOfDec, u.degree)
        valueOfDec=valueOfDec.to_string(unit=u.degree,sep=':')
        return valueOfDec

    def Convert_To_HMS(valueOfRA):
        valueOfRA=Angle(valueOfRA, u.degree)
        valueOfRA=valueOfRA.to_string(unit=u.hour, sep=':')
        return valueOfRA

    def MagEquals(GmagVal):
        str(GmagVal)
        GmagVal="Magnitude="+GmagVal.apply(str)
        return GmagVal



    def NameEquals(starName):

        starName='"'+starName+'"'
        return starName






    TUI_Targets2=TUI_Targets

    TUI_Targets2.Dec = Convert_To_DMS(TUI_Targets.Dec)



    TUI_Targets3=TUI_Targets2

    TUI_Targets3.RA = Convert_To_HMS(TUI_Targets.RA)


    TUI_Targets4=TUI_Targets3
    TUI_Targets3.Gmag = MagEquals(TUI_Targets3.Gmag)
    TUI_Targets4.Name = NameEquals(TUI_Targets3.Name)


    TUI_Targets5 = TUI_Targets4.drop(columns=['Class'])
    global TUI_TargetsFinal
    TUI_TargetsFinal = TUI_Targets5.rename(columns={'Name':'#Name'},index={'One':'Row_1'})

    display(TUI_TargetsFinal)
    
    return TUI_TargetsFinal

In [7]:
#Name
categoryIntro = "\nCategory: Name\nHow many diffrent search terms would you like to filter for in the Name category?"      
ctfName = ctf
filterMultiString ("Name",ctfName)
display (ctfNewStr)

Category: Name
How many diffrent search terms would you like to filter for in the Name category?
Choose from one of the options below.
If none enter 1 and you will have an option to include for all entries in this category.
 1 2 3
Input: 1
Enter the first desired search term for the Name category.
If you DO NOT want to filter by this category enter 'ALL'
Input:ALL
Not filtering values based on  Name

                        Name          RA        Dec        Class       Gmag
0   WISE J045451.56-670203.9   73.714861 -67.034497           EM  14.046777
1   WISE J045550.56-695807.0   73.960641 -69.968616           EM  13.954285
2   WISE J045719.13-673047.0   74.329243 -67.513090           EM  14.631564
3   WISE J050128.62-701120.2   75.369061 -70.188978           EM  13.878529
4   WISE J051038.76-642117.8   77.661495 -64.354943           EM  14.231917
5   WISE J051852.07-625750.2   79.716991 -62.963962  Contaminant  14.807224
6   WISE J052915.30-671259.8   82.313739 -67.216612           EM  13.706032
7   WISE J053001.84-664614.4   82.507758 -66.770707           EM  13.860653
8   WISE J053323.01-673059.8   83.345961 -67.516699           EM  13.637502
9   WISE J053424.65-662557.5   83.602704 -66.432664           EM  13.660733
10   2MASS J05362506-7012222   84.104532 -70.206180           EM  16.012371
11  WISE J110247.58-610632.9  165.698217 -61.109151           EM  11.111307
12              CPD-60  2585  167.555988 -60.775415           EM   9.750662

In [8]:
#RA
categoryIntro = "\nCategory: Right Ascension\n"

inputNumOfRangeAmount = (input("Enter the number of ranges, 1 or 2, you'd like to filter for"))

if inputNumOfRangeAmount == "2":
    ctfNewStr1=ctfNewStr
    ctfNewStr2=ctfNewStr
    filterFloatRange("RA",ctfNewStr1)
    ctfNewFloat1=ctfNewFloat
    filterFloatRange("RA",ctfNewStr2)
    ctfNewFloat2=ctfNewFloat
    display(ctfNewFloat1)
    display(ctfNewFloat)
    ctfNewFloat3=[ctfNewFloat1,ctfNewFloat2]
    ctfNewFloat= pd.concat(ctfNewFloat3)
    display (ctfNewFloat)
else:
    filterFloatRange("RA",ctfNewStr)
    display(ctfNewFloat)

Enter the number of ranges, 1 or 2, you'd like to filter for1

Category: Right Ascension

Enter the lower bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':
NONE
Enter the upper bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':
NONE
Not filtering values based on RA

                        Name          RA        Dec        Class       Gmag
0   WISE J045451.56-670203.9   73.714861 -67.034497           EM  14.046777
1   WISE J045550.56-695807.0   73.960641 -69.968616           EM  13.954285
2   WISE J045719.13-673047.0   74.329243 -67.513090           EM  14.631564
3   WISE J050128.62-701120.2   75.369061 -70.188978           EM  13.878529
4   WISE J051038.76-642117.8   77.661495 -64.354943           EM  14.231917
5   WISE J051852.07-625750.2   79.716991 -62.963962  Contaminant  14.807224
6   WISE J052915.30-671259.8   82.313739 -67.216612           EM  13.706032
7   WISE J053001.84-664614.4   82.507758 -66.770707           EM  13.860653
8   WISE J053323.01-673059.8   83.345961 -67.516699           EM  13.637502
9   WISE J053424.65-662557.5   83.602704 -66.432664           EM  13.660733
10   2MASS J05362506-7012222   84.104532 -70.206180           EM  16.012371
11  WISE J110247.58-610632.9  165.698217 -61.109151           EM  11.111307
12              CPD-60  2585  167.555988 -60.775415           EM   9.750662

In [9]:
#Declination
categoryIntro = "\nCategory: Declination\n"

inputNumOfRangeAmount = (input("Enter the number of ranges, 1 or 2, you'd like to filter for"))

if inputNumOfRangeAmount == "2": #yeah i know the names have stopped making sense, but it works...
    ctfNewStr1=ctfNewFloat
    ctfNewStr2=ctfNewFloat
    filterFloatRange("Dec",ctfNewStr1)
    ctfNewFloat1=ctfNewFloat
    filterFloatRange("Dec",ctfNewStr2)
    ctfNewFloat2=ctfNewFloat
    ctfNewFloat3=[ctfNewFloat1,ctfNewFloat2]
    ctfNewFloat= pd.concat(ctfNewFloat3)
    display (ctfNewFloat)
else:
    filterFloatRange("Dec",ctfNewFloat)
    display(ctfNewFloat)

Enter the number of ranges, 1 or 2, you'd like to filter for1

Category: Declination

Enter the lower bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':
NONE
Enter the upper bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':
None
Not filtering values based on Dec

                        Name          RA        Dec        Class       Gmag
0   WISE J045451.56-670203.9   73.714861 -67.034497           EM  14.046777
1   WISE J045550.56-695807.0   73.960641 -69.968616           EM  13.954285
2   WISE J045719.13-673047.0   74.329243 -67.513090           EM  14.631564
3   WISE J050128.62-701120.2   75.369061 -70.188978           EM  13.878529
4   WISE J051038.76-642117.8   77.661495 -64.354943           EM  14.231917
5   WISE J051852.07-625750.2   79.716991 -62.963962  Contaminant  14.807224
6   WISE J052915.30-671259.8   82.313739 -67.216612           EM  13.706032
7   WISE J053001.84-664614.4   82.507758 -66.770707           EM  13.860653
8   WISE J053323.01-673059.8   83.345961 -67.516699           EM  13.637502
9   WISE J053424.65-662557.5   83.602704 -66.432664           EM  13.660733
10   2MASS J05362506-7012222   84.104532 -70.206180           EM  16.012371
11  WISE J110247.58-610632.9  165.698217 -61.109151           EM  11.111307
12              CPD-60  2585  167.555988 -60.775415           EM   9.750662

In [10]:
#Class
categoryIntro = "\nCategory: Class\nHow many diffrent search terms would you like to filter for in the Class category?\n"
ctfClass = ctfNewFloat
filterMultiString ("Class",ctfClass)
display (ctfNewStr)

Category: Class
How many diffrent search terms would you like to filter for in the Class category?

Choose from one of the options below.
If none enter 1 and you will have an option to include for all entries in this category.
 1 2 3
Input: 1
Enter the first desired search term for the Class category.
If you DO NOT want to filter by this category enter 'ALL'
Input:EM
1

                        Name          RA        Dec Class       Gmag
0   WISE J045451.56-670203.9   73.714861 -67.034497    EM  14.046777
1   WISE J045550.56-695807.0   73.960641 -69.968616    EM  13.954285
2   WISE J045719.13-673047.0   74.329243 -67.513090    EM  14.631564
3   WISE J050128.62-701120.2   75.369061 -70.188978    EM  13.878529
4   WISE J051038.76-642117.8   77.661495 -64.354943    EM  14.231917
6   WISE J052915.30-671259.8   82.313739 -67.216612    EM  13.706032
7   WISE J053001.84-664614.4   82.507758 -66.770707    EM  13.860653
8   WISE J053323.01-673059.8   83.345961 -67.516699    EM  13.637502
9   WISE J053424.65-662557.5   83.602704 -66.432664    EM  13.660733
10   2MASS J05362506-7012222   84.104532 -70.206180    EM  16.012371
11  WISE J110247.58-610632.9  165.698217 -61.109151    EM  11.111307
12              CPD-60  2585  167.555988 -60.775415    EM   9.750662

In [11]:
#Gmag
categoryIntro = "\nCategory: Gmag\n"

inputNumOfRangeAmount = (input("Enter the number of ranges, 1 or 2, you'd like to filter for"))

if inputNumOfRangeAmount == "2":
    ctfNewStr1=ctfNewStr
    ctfNewStr2=ctfNewStr
    filterFloatRange("RA",ctfNewStr1)
    ctfNewFloat1=ctfNewFloat
    filterFloatRange("RA",ctfNewStr2)
    ctfNewFloat2=ctfNewFloat
    display(ctfNewFloat1)
    display(ctfNewFloat)
    ctfNewFloat3=[ctfNewFloat1,ctfNewFloat2]
    ctfNewFloat= pd.concat(ctfNewFloat3)
    display (ctfNewFloat)
else:
    filterFloatRange("Gmag",ctfNewStr)
    display(ctfNewFloat)

Enter the number of ranges, 1 or 2, you'd like to filter for1

Category: Gmag

Enter the lower bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':
NONE
Enter the upper bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':
123
Filering for all values in  Gmag  that are less than 123.0

                        Name          RA        Dec Class       Gmag
0   WISE J045451.56-670203.9   73.714861 -67.034497    EM  14.046777
1   WISE J045550.56-695807.0   73.960641 -69.968616    EM  13.954285
2   WISE J045719.13-673047.0   74.329243 -67.513090    EM  14.631564
3   WISE J050128.62-701120.2   75.369061 -70.188978    EM  13.878529
4   WISE J051038.76-642117.8   77.661495 -64.354943    EM  14.231917
6   WISE J052915.30-671259.8   82.313739 -67.216612    EM  13.706032
7   WISE J053001.84-664614.4   82.507758 -66.770707    EM  13.860653
8   WISE J053323.01-673059.8   83.345961 -67.516699    EM  13.637502
9   WISE J053424.65-662557.5   83.602704 -66.432664    EM  13.660733
10   2MASS J05362506-7012222   84.104532 -70.206180    EM  16.012371
11  WISE J110247.58-610632.9  165.698217 -61.109151    EM  11.111307
12              CPD-60  2585  167.555988 -60.775415    EM   9.750662

In [12]:
ctfFinalResult = ctfNewFloat



createCSV = (input("Would you like to generate a CSV file set with the above table?\
n Yes   No\n"))
if createCSV == "Yes":
    display(ctfFinalResult)
    documentNameInput = (input(" Enter a unique project name for the CSV file set: "))
    normalDocumentName = documentNameInput + "_DecimalValuesFull.csv"
    ctfNewFloat.to_csv(normalDocumentName, index = False, na_rep="NAN!")
    #ctfNewFloat.to_csv(documentName, float_format='%.10f', index = False, na_rep="NAN!")
    
    convertedConvertor(ctfFinalResult)#converts to HMS;DMS version of RA;Dec, returns convertedTargetsFinal
    convertedDocumentName = documentNameInput + "_RAtoHMS_Dec_DMS_ValuesFull.csv"
    
    convertedTargetsFinal.to_csv(convertedDocumentName, index = False, na_rep="NAN!")
    
    TUI_Convertor(convertedTargetsFinal)
    
    TUI_FormattedDocumentName = documentNameInput + "_TUI_Formatted_TAB_Seperated.csv"
    
    TUI_TargetsFinal.to_csv(TUI_FormattedDocumentName,index = False, na_rep="NAN!",sep='\t', quoting=csv.QUOTE_NONE)
    
    
    
    
    bunny()
    sys.exit ("Sucess! Goodbye now! Have a nice day!)")
if createCSV == "No":
    sys.exit ("""All right, maybe next time :(
To genrate a different table restart the program :(
              Have a bunny
              ()()
              (- -)
              ((')(')""")
else: 
    print ("Sorry, didn't get that. Try running the cell again. Meanwhile, do you want a bunny?")
    bunny()

Would you like to generate a CSV file set with the above table?n Yes   No
Yes

                        Name          RA        Dec Class       Gmag
0   WISE J045451.56-670203.9   73.714861 -67.034497    EM  14.046777
1   WISE J045550.56-695807.0   73.960641 -69.968616    EM  13.954285
2   WISE J045719.13-673047.0   74.329243 -67.513090    EM  14.631564
3   WISE J050128.62-701120.2   75.369061 -70.188978    EM  13.878529
4   WISE J051038.76-642117.8   77.661495 -64.354943    EM  14.231917
6   WISE J052915.30-671259.8   82.313739 -67.216612    EM  13.706032
7   WISE J053001.84-664614.4   82.507758 -66.770707    EM  13.860653
8   WISE J053323.01-673059.8   83.345961 -67.516699    EM  13.637502
9   WISE J053424.65-662557.5   83.602704 -66.432664    EM  13.660733
10   2MASS J05362506-7012222   84.104532 -70.206180    EM  16.012371
11  WISE J110247.58-610632.9  165.698217 -61.109151    EM  11.111307
12              CPD-60  2585  167.555988 -60.775415    EM   9.750662

 Enter a unique project name for the CSV file set: TEST2.1

                        Name             RA             Dec Class       Gmag
0   WISE J045451.56-670203.9   4:54:51.5666  -67:02:04.1902    EM  14.046777
1   WISE J045550.56-695807.0   4:55:50.5539  -69:58:07.0171    EM  13.954285
2   WISE J045719.13-673047.0   4:57:19.0183  -67:30:47.1236    EM  14.631564
3   WISE J050128.62-701120.2   5:01:28.5746  -70:11:20.3207    EM  13.878529
4   WISE J051038.76-642117.8   5:10:38.7587  -64:21:17.7959    EM  14.231917
6   WISE J052915.30-671259.8   5:29:15.2975  -67:12:59.8042    EM  13.706032
7   WISE J053001.84-664614.4   5:30:01.8619  -66:46:14.5453    EM  13.860653
8   WISE J053323.01-673059.8   5:33:23.0307  -67:31:00.1152    EM  13.637502
9   WISE J053424.65-662557.5   5:34:24.6489   -66:25:57.589    EM  13.660733
10   2MASS J05362506-7012222   5:36:25.0876  -70:12:22.2496    EM  16.012371
11  WISE J110247.58-610632.9   11:02:47.572  -61:06:32.9421    EM  11.111307
12              CPD-60  2585  11:10:13.4371  -60:46:31.4945    EM   9.750662

,#Name,RA,Dec,Gmag
0,"""WISE J045451.56-670203.9""",0:19:39.4378,-67:02:04.1902,Magnitude=14.046777
1,"""WISE J045550.56-695807.0""",0:19:43.3703,-69:58:07.0171,Magnitude=13.954285
2,"""WISE J045719.13-673047.0""",0:19:49.2679,-67:30:47.1236,Magnitude=14.631564
3,"""WISE J050128.62-701120.2""",0:20:05.905,-70:11:20.3207,Magnitude=13.878529
4,"""WISE J051038.76-642117.8""",0:20:42.5839,-64:21:17.7959,Magnitude=14.231917
6,"""WISE J052915.30-671259.8""",0:21:57.0198,-67:12:59.8042,Magnitude=13.706032
7,"""WISE J053001.84-664614.4""",0:22:00.1241,-66:46:14.5453,Magnitude=13.860653
8,"""WISE J053323.01-673059.8""",0:22:13.5354,-67:31:00.1152,Magnitude=13.637502
9,"""WISE J053424.65-662557.5""",0:22:17.6433,-66:25:57.589,Magnitude=13.660733
10,"""2MASS J05362506-7012222""",0:22:25.6725,-70:12:22.2496,Magnitude=16.012370999999998
11,"""WISE J110247.58-610632.9""",0:44:11.1715,-61:06:32.9421,Magnitude=11.111307
12,"""CPD-60 2585""",0:44:40.8958,-60:46:31.4945,Magnitude=9.750662

 Have a bunny
                      (\___/)
                      (=^.^=)
                      (")_(")

SystemExit: Sucess! Goodbye now! Have a nice day!)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3339: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)