In [1]:
import pandas as pd
import numpy as np
import math
import time
import sys
from IPython.display import display 

pd.set_option("display.max_rows", None, "display.max_columns", None)

ctf = pd.read_csv ('coarse_table_full.csv') 

type(ctf)
#declaring global variables to elminate certain bugs
divider="|"
stringSearchTerm1 = " "
stringSearchTerm2 = " "
stringSearchTerm3 = " "
startProgram = "Yes"


    
print ("\nImport Complete\nSet Up Complete\n")
print ("Hello,\n \nWelcome to the Coarse Table Full Filtering Interface.\nIt contains the names, coordinates (right ascension and declination), estimated classification, and apparent magnitude in the 'G' bandpass (which is short for Gaia) for ~2550 stars with no previously published classification that was run through our fancy schmancy machine learning classifier.\n")

print ("You will be prompted to filter by category, simply enter the terms or range you wish to search for when prompted and the table will update to only display entries that contain that search term or range\n ")

startProgram = (input("Would you like to continue?\nYes    No\nAnswer: "))
if startProgram == "No":
    sys.exit ("All right, maybe next time :(")
    quit()

Import Complete
Set Up Complete

Hello,

Welcome to the Coarse Table Full Filtering Interface.
It contains the names, coordinates (right ascension and declination), estimated classification, and apparent magnitude in the 'G' bandpass (which is short for Gaia) for ~2550 stars with no previously published classification that was run through our fancy schmancy machine learning classifier.

You will be prompted to filter by category, simply enter the terms or range you wish to search for when prompted and the table will update to only display entries that contain that search term or range

Would you like to continue?
Yes    No
Answer: Yes

In [2]:
def filterMultiString (catStringInput,ctfStringInput):
    global categoryIntro
    global ctfNewStr
    print (categoryIntro)
    time.sleep(0.20)
    numOfTermsInput = (input("Choose from one of the options below. \nIf none enter 1 and you will have an option to include for all entries in this category.\n 1 2 3\nInput: "))
    numOfTerms = float(numOfTermsInput)
    global ctfNewStr

    print ("Enter the first desired search term for the",catStringInput,"category.")
    stringSearchTerm1 = (input("If you DO NOT want to filter by this category enter 'ALL'\nInput:"))
    
    if stringSearchTerm1 == "ALL":
        numOfTerms = 0
        ctfNewStr = ctfStringInput
        print ("Not filtering values based on ", catStringInput)
        time.sleep(0.20)
    if numOfTerms == 3 and stringSearchTerm1 != "ALL":
        print ("3")
        stringSearchTerm2 = (input("Enter the second desired search term for the under this  category."))
        stringSearchTerm3 = (input("Enter the third desired search term for the under this category"))
        print ("Filtering 3 terms:\n",stringSearchTerm1,"\n",stringSearchTerm2,"\n",stringSearchTerm3)
        stringSearchTerm = stringSearchTerm1+divider+stringSearchTerm2+divider+stringSearchTerm3
        ctfNewStr = ctfStringInput.loc[ctfStringInput[catStringInput].str.contains(stringSearchTerm)]
    if numOfTerms == 2 and stringSearchTerm1 != "ALL":
        stringSearchTerm2 = (input("Enter the second desired search term for the under this category."))
        print ("Filtering 2 terms:\n",stringSearchTerm1,"\n",stringSearchTerm2)
        stringSearchTerm = stringSearchTerm1+divider+stringSearchTerm2
        
        ctfNewStr = ctfStringInput.loc[ctfStringInput[catStringInput].str.contains(stringSearchTerm)]
        
    if numOfTerms == 1 and stringSearchTerm1 != "ALL":
        print ("1")
        stringSearchTerm = stringSearchTerm1
        ctfNewStr = ctfStringInput.loc[ctfStringInput[catStringInput].str.contains(stringSearchTerm)]
   
    return ctfNewStr

In [3]:
def bunny():
    print(""" Have a bunny             
                      (\___/)
                      (=^.^=)
                      (")_(")   """)

In [4]:
def filterFloatRange(catFloatInput,ctfFloatInput):
    global ctfNewFloat
    print (categoryIntro)
    exitToken = False 
    time.sleep(0.50)
    minFloatValInput = (input("Enter the lower bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':\n"))
    maxFloatValInput = (input("Enter the upper bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':\n"))
    
    placeholderMax = 1000**10
    placeholderMin = -1000**10
    
    if minFloatValInput == "NONE" and maxFloatValInput == "NONE":
        exitToken = True
        ctfNewFloat = ctfFloatInput
        printInputs = False
        print ("Not filtering values based on", catFloatInput)
        
    if minFloatValInput == "NONE" and maxFloatValInput != "NONE":
        minFloatVal = placeholderMin
        maxFloatVal = float(maxFloatValInput)
        printInputs = False
        print ("Filering for all values in ",catFloatInput," that are less than",maxFloatVal)
        
        
    if minFloatValInput != "NONE" and maxFloatValInput == "NONE":
        minFloatVal = float(minFloatValInput)
        maxFloatVal = placeholderMax
        printInputs = False
        print ("Filering for all values in ",catFloatInput," that are greater than ",minFloatVal)
        
    if minFloatValInput != "NONE" and maxFloatValInput != "NONE":
        minFloatVal = float(minFloatValInput)
        maxFloatVal = float(maxFloatValInput)
        printInputs = True
        print ("Filering for all values in ",catFloatInput," that are greater than ",minFloatVal," and less than",maxFloatVal)
    
        
    if catFloatInput == "RA" and exitToken == False:
        placeholderMin = ctfFloatInput.RA.min()
        placeholderMax = ctfFloatInput.RA.max()
        ctfFloatMin = (ctfFloatInput.RA >= minFloatVal)
        targetStarsIndex = [*filter(ctfFloatMin.get, ctfFloatMin.index)]
        ctfFloatProcessed = ctfFloatInput.loc[targetStarsIndex]
        ctfFloat = (ctfFloatProcessed.RA <= maxFloatVal)
        
    if catFloatInput == "Dec" and exitToken == False:
        placeholderMin = ctfFloatInput.Dec.min()
        placeholderMax = ctfFloatInput.Dec.max()
        ctfFloatMin = (ctfFloatInput.Dec >= minFloatVal)
        targetStarsIndex = [*filter(ctfFloatMin.get, ctfFloatMin.index)]
        ctfFloatProcessed = ctfFloatInput.loc[targetStarsIndex]
        ctfFloat = (ctfFloatProcessed.Dec <= maxFloatVal)
        
        
    if catFloatInput == "Gmag" and exitToken == False:
        placeholderMin = ctfFloatInput.Gmag.min()
        placeholderMax = ctfFloatInput.Gmag.max()
        ctfFloatMin = (ctfFloatInput.Gmag >= minFloatVal)
        targetStarsIndex = [*filter(ctfFloatMin.get, ctfFloatMin.index)]
        ctfFloatProcessed = ctfFloatInput.loc[targetStarsIndex]
        ctfFloat = (ctfFloatProcessed.Gmag <= maxFloatVal)
        
    if exitToken == False:
        targetStarsIndex = [*filter(ctfFloat.get, ctfFloat.index)]
        ctfNewFloat = ctfFloatInput.loc[targetStarsIndex]
    return ctfNewFloat

In [5]:
#Name
categoryIntro = "\nCategory: Name\nHow many diffrent search terms would you like to filter for in the Name category?"      
ctfName = ctf
filterMultiString ("Name",ctfName)
display (ctfNewStr)

#RA
categoryIntro = "\nCategory: Right Ascension\n"
filterFloatRange("RA",ctfNewStr)
display (ctfNewFloat)

#Declination
categoryIntro = "\nCategory: Declination\n"
filterFloatRange ("Dec",ctfNewFloat)
display (ctfNewFloat)

#Class
categoryIntro = "\nCategory: Class\nHow many diffrent search terms would you like to filter for in the Class category?\n"
ctfClass = ctfNewFloat
filterMultiString ("Class",ctfClass)
display (ctfNewStr)

#Gmag
categoryIntro = "\nCategory: Gmag\n"
filterFloatRange("Gmag",ctfNewStr)

Category: Name
How many diffrent search terms would you like to filter for in the Name category?
Choose from one of the options below.
If none enter 1 and you will have an option to include for all entries in this category.
 1 2 3
Input: 1
Enter the first desired search term for the Name category.
If you DO NOT want to filter by this category enter 'ALL'
Input:3740-1791-1
1

                Name         RA        Dec Class       Gmag
413  TYC 3740-1791-1  67.040642  56.984493    EM  10.764656

Category: Right Ascension

Enter the lower bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':
NONE
Enter the upper bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':
NONE
Not filtering values based on RA

                Name         RA        Dec Class       Gmag
413  TYC 3740-1791-1  67.040642  56.984493    EM  10.764656

Category: Declination

Enter the lower bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':
NONE
Enter the upper bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':
NONE
Not filtering values based on Dec

                Name         RA        Dec Class       Gmag
413  TYC 3740-1791-1  67.040642  56.984493    EM  10.764656

Category: Class
How many diffrent search terms would you like to filter for in the Class category?

Choose from one of the options below.
If none enter 1 and you will have an option to include for all entries in this category.
 1 2 3
Input: 1
Enter the first desired search term for the Class category.
If you DO NOT want to filter by this category enter 'ALL'
Input:ALL
Not filtering values based on  Class

                Name         RA        Dec Class       Gmag
413  TYC 3740-1791-1  67.040642  56.984493    EM  10.764656

Category: Gmag

Enter the lower bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':
NONE
Enter the upper bound for the range you want to filter for. If you dont want to set a lower bound enter 'NONE':
NONE
Not filtering values based on Gmag

                Name         RA        Dec Class       Gmag
413  TYC 3740-1791-1  67.040642  56.984493    EM  10.764656

In [7]:
print (ctfNewFloat)
createCSV = (input("Would you like to generate a CSV file with the above table?\
n Yes   No\n"))
if createCSV == "Yes":
    documentNameInput = (input(" Enter a name for the CSV file:  "))
    documentName = documentNameInput + ".csv"
    ctfNewFloat.to_csv(documentName, index = False, na_rep="NAN!")
    #ctfNewFloat.to_csv(documentName, float_format='%.10f', index = False, na_rep="NAN!")
    bunny()
    sys.exit ("Sucess! Goodbye now! Have a nice day!)")
if createCSV == "No":
    sys.exit ("""All right, maybe next time :(
To genrate a different table restart the program :(
              Have a bunny
              ()()
              (- -)
              ((')(')""")
else: 
    print ("Sorry, didn't get that. Try running the cell again. Meanwhile, do you want a bunny?")
    bunny()

                Name         RA        Dec Class       Gmag
413  TYC 3740-1791-1  67.040642  56.984493    EM  10.764656
Would you like to generate a CSV file with the above table?n Yes   No
Yes
 Enter a name for the CSV file:  UW06_09.10B_target
 Have a bunny
                      (\___/)
                      (=^.^=)
                      (")_(")

SystemExit: Sucess! Goodbye now! Have a nice day!)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3339: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)