In [5]:
'''This cell imports pandas and the CSV file contiang the data that needs to be sorted and stores it as 'ctf' 

Genral note: This note book was created as a simplified verion of the filter interface notebook and carried over variable names from that project '''

import pandas as pd


pd.set_option("display.max_rows", None, "display.max_columns", None)

ctf = pd.read_csv ('coarse_table_full.csv')

        
print ("\nImport Complete\n")

Import Complete

In [6]:
'''This cell allows for easy modification to the search parameters category (Cat1) and search term (searchTerm1), which line 8 uses as inputs to filter ctf creating a new array containing only the indexes that meet the parameters called ctf2. 

In the orignal porject the code would promt the user to input these values'''
type(ctf)

Cat1 = "Class"#input category. this will work will work for both the string coloumns, Name and Class.   

searchTerm1 = "EM|Cool"

ctf2 = ctf.loc[ctf[Cat1].str.contains(searchTerm1)]

In [7]:


minDec = -25.0 # input minimum declnation your telescope can observe using the Apache Point Observatory 

ctf3 = (ctf2.Dec >= minDec) #generate a array of which indexes meet the boleean conditon called ctf3 with index numbers from ctf2 


#ctf3[ctf3].index.values
targetStarsIndex = [*filter(ctf3.get, ctf3.index)]

In [9]:
ctfFinal = ctf2.loc[targetStarsIndex]

ctfFinal.to_csv('list_of_viable_stars_simplemethod.csv', float_format='%.8f', na_rep="NAN!")

tsi = pd.read_csv ('list_of_viable_stars_simplemethod.csv')
tsi
#type (tsi)

,Unnamed: 0,Name,RA,Dec,Class,Gmag
0,413,TYC 3740-1791-1,67.040642,56.984493,EM,10.764656
1,2494,WISE J185608.58-163255.1,284.035758,-16.548670,Cool,12.038886
2,2516,WISE J194127.64+385155.3,295.365206,38.865364,Cool,12.327266
3,2525,TYC 2670-214-1,299.608643,31.811638,EM,11.336642